<aside class="todo-list">
    <div class="todo-list__content">
        <ul class="todo-list__list">
            <a
                    href="/api/create"
                    class="nav-menu__link nav-menu__link_top"
            >Create new task</a
            >
        </ul>
    </div>
</aside>
