    <!--HEADER STARTS-->
    <header class="header"> 
      <div class="header__main">
        <div class="page-wrapper">
          <div class="header__main-inner">
            <div class="header__logo">
              <a href="index.html"
                ><img class="header__logo-img" src="img/logo.png" alt="Logo"
              /></a>
            </div>
            <div class="header__hamburger">
              <a href="#" class="hamburger">
                <i class="icon-hamburger"></i>
                <span class="hamburger__text">Menu</span>
              </a>
            </div>
            <!--NAVBAR STARTS-->
            <div class="nav-menu">
              <nav class="nav-menu__wrapper">
                <ul class="nav-menu__list">
                  <li class="nav-menu__item nav-menu__item_parent">
                    <a
                      href="/auth/logout"
                      class="nav-menu__link nav-menu__link_top"
                      >Logout</a
                    >
                  </li>
                </ul>
              </nav>
            </div>
            <!--NAVBAR ENDS-->
          </div>
        </div>
      </div>
    </header>
    <!--HEADER ENDS-->