.accordion {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.accordion__sidebar {
  width: 100%;
}

.accordion__item {

  width: 100%;
  padding: 10px 20px;
  position: relative;
  cursor: pointer;
  grid-column-start: 1;
  grid-column-end: 3;

  &::before {
    content: "";
    height: 28px;
    width: 17px;
    right: -30px;
    position: absolute;
    background-image: url("../../img/arrow_right.png");
    background-size: 40%;
    background-repeat: no-repeat;
  }

  &::after {
    content: "";
    height: 0;
    width: 1px;
    top: 0;
    left: 0;
    position: absolute;
    background-image: $btn-gradient;
  }

  h4 {
    font-family: $pt-header;
    font-weight: bold;
    font-size: 14px;

    &:hover {
      color: $yellow;
    }
  }

  .accordion__inner {
    display: none;

    ul {
      list-style: disc;
      padding-left: 15px;
    }

    p {
      line-height: 140%;
    }

    a {
      margin-top: 20px;
    }
  }

  &.active {

    transition: $transition;

    &::after {
      display: block;
      height: 100%;
    }

    &::before {
      background-image: url("../../img/arrow_down.svg");
      width: 30px;
      right: -40px;
    }

    h4 {
      margin-bottom: 15px;
    }

    .accordion__inner {
      display: block;
    }
  }
}

.accordion.careers {

  .accordion__sidebar,
  .accordion__inner,
  .accordion__item {
    width: 100%;
  }

  .accordion__item h4 {
    color: $orange;
    font-weight: 400;
    font-size: 26px;
  }

  .block-subtitle h3 {
    font-size: 16px;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }
}
