<% include ./partials/header %>
<div class="page-wrapper main">
  <% include ./partials/aside.ejs %>
  <section class="content sprint">
    <div class="sprint__block day">
      <% if (tasks.length) {%>
                <% tasks.forEach(function(task) { %>
                <div class="day task">
                    <% if (task.isCompleted) {%>
                    <div class="task__inner">
                      <button class="save icon" icon="save" type="button">
                          <i class="material-icons">
                              radio_button_checked
                          </i>
                      </button>
                        <p class="completed"><%-task.title%></p>
                    </div>
                    <div class="task__buttons">
                      <button class="delete icon" icon="delete" type="button">
                          <i class="material-icons">delete</i>
                      </button>
                      <button class="edit icon" icon="edit" type="button">
                          <i class="material-icons">edit</i>
                      </button>
                    </div>
                    <% } else {%>
                    <div class="task__inner">
                        <% include ./partials/messages %>
                      <button class="save icon" icon="save" type="button">
                          <i class="material-icons">
                              radio_button_unchecked
                          </i>
                        </button>
                        <p><%-task.title%></p>
                    </div>
                    <div class="task__buttons">
                      <button class="delete icon" icon="delete" type="button">
                          <i class="material-icons">delete</i>
                      </button>
                      <button class="edit icon" icon="edit" type="button">
                          <i class="material-icons">edit</i>
                      </button>
                    </div>
                    <% } %>
                    <input type="hidden" value=<%- task._id %> name="id">
                </div>
                <% }); %>
      <% } else {%>
        <p>Go and add your first task c:</p>
      <% } %>
    </div>
  </section>
</div>


