a.btn,
button.btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
  color: $white;
  font-size: 14px;
  font-weight: 400;
  border: none;
  line-height: 1.2;
  transition: $transition;
  overflow: hidden;
  backface-visibility: hidden;
  font-family: $pt-sans;
  cursor: pointer;
  height: 48px;
  width: 100%;
  text-align: center;
  padding-top: 15px;
  position: relative;



  @include desktop {
    font-size: 16px;
    line-height: 1;
  }

  span {
    position: absolute;
    display: block;
    top: 14px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px;
    z-index: 2;
  }

  &:hover {
    color: $white;
  }

  &:active {
    transform: translateY(2px);
  }

  &.disabled,
  &:disabled {
    background-color: $gray;
    pointer-events: none;
    cursor: default;
  }
}

.btn_orange {
  background-image: $btn-gradient;

  &::after {
    content: "";
    height: 48px;
    width: 100%;
    position: absolute;
    background-image: $btn-gradient-hovered;
    transition: $opacity-transition;
    top: 0;
    left: 0;
    opacity: 0;
  }

  &:hover {
    &::after {
      opacity: 1;
      transition: $transition;
    }
  }
}

.btn_xs {
  font-size: 14px;
  padding-top: 11px;

  @include desktop {
    padding-top: 11px;
    height: 40px;
  }
}

.btn_lg,
.btn_transparent,
.btn_transparent_orange {

  @include desktop {
    height: 47px;
  }
}

.btn_lg {
  width: 100%;

  &::after {
    width: 100%;
  }
}

.btn_transparent {
  background-image: none;
  border: 1px solid white;
  line-height: 1;

  &:hover {
    background-color: white;
    color: $orange;
  }
}

.btn_transparent_orange {

  background-image: none;
  border: 1px solid $orange;
  color: $orange;

  &:hover {
    background-color: $orange;
    color: white;
  }
}

.btn_checkout {
  padding-top: 14px;
  padding-bottom: 14px;

  @include tablet {
    height: 52px;
    font-size: 16px;
  }
}

.btn_login {
  font-size: 14px;

  @include tablet {
    height: 52px;
    font-size: 16px;
    padding: 16px 30px 14px;
  }

  @include desktop {
    height: 52px;
    padding: 16px 30px 14px;
  }
}

.plus-btn {
  display: block;
  width: 14px;
  height: 14px;
  position: relative;
  color: $black;
  cursor: pointer;

  &:after,
  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 2px;
    width: 100%;
    background-color: currentColor;
  }

  &:before {
    height: 100%;
    width: 2px;
  }

  &:hover,
  button:hover & {
    color: darken($black, 10%);
  }

  &.disabled {
    color: transparentize($black, .75);

    &:hover {
      cursor: default;
      color: transparentize($black, .75);
    }
  }
}

.minus-btn {
  @extend .plus-btn;

  &:before {
    display: none;
  }

  &:after {
    height: 3px;
  }
}

.email-btn {
  width: 100%;
  border: 1px solid $blue;
  background-color: transparent;
  border-radius: 0;
  color: $blue;
}