.a-center {
  text-align: center;
}
.a-left {
  text-align: left;
}
.a-right {
  text-align: right;
}
.f-left {
  float: left;
}
.f-right {
  float: right;
}

.loading-mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999999;
  background: transparentize($white, .5);
  .loader {
    @extend %loader;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    img {
      display: none;
    }
  }
}