$white: #ffffff;
$black: #000000;
$gray: #333333;
$dark-grey: #2C2C2C;
$dark-accent: #3C3C3C;
$blue: #89DDFF;
$green: #2d8c9e;
$pink: #E91E63;
$yellow: #DED765;
$orange: #E3672F;
$dark-orange: #D94E2B;
$gunmetal: #54585a;
$lighter-gray: #dedede;
$shadow: rgba(91, 91, 91, 0.5);
$warm-grey: #888888;
$accent-gray: #BDBDBD;
$borders-gray: #D5D5D5;
$light-gray: #f8f8f8;
$placeholder-gray: #aaaaaa;
$border-color: #eaeaea;
$coral: #ff6666;
$reddish: #cc2e2e;
$green: #A9DC76;
$overlay: transparentize($gray, .4);

$red: #f00000;

$color-main: $white;
$link-color: $color-main;