$fontsPath: '../../fonts';

$pt-sans: 'Lato', sans-serif;
$pt-header: 'Poppins', sans-serif;

$font-main: $pt-sans;
$font-btn: $font-main;
$font-header: $pt-header;

$icomoon-font-family: "icons" !default;
$icomoon-font-path: "#{$fontsPath}/icons" !default;

$icon-search: "\26b2";
$icon-contact: "\2706";
$icon-arrow-side: "\276f";
$icon-avatar: "\263a";
$icon-contract: "\270d";
$icon-cross: "\2715";
$icon-delivery: "\2318";
$icon-edit: "\270e";
$icon-fb: "\1f60e";
$icon-garbage: "\267b";
$icon-arrow-down: "\2304";
$icon-hamburger: "\2630";
$icon-in: "\1f600";
$icon-minicart: "\2611";
$icon-phone-call: "\260e";
$icon-star: "\272e";
$icon-timer: "\231a";
$icon-tw: "\1f603";
$icon-state-star-empty: "\2729";
$icon-state-star-full: "\272a";
$icon-star-wishlist: "\2730";
$icon-star-addto-wishlist: "\272d";
$icon-star-addto-wishlist-bold: "\272f";
$icon-star-addto-wishlist-added: "\2605";
$icon-filters: "\2633";
$icon-pdp-house: "\2616";
$icon-pdp-promo: "\269d";
$icon-pdp-leaf: "\2618";
$icon-dots: "\22ee";
$icon-share: "\262d";
$icon-email: "\2709";
$icon-error-bold: "\2757";
$icon-access: "\2714";
$icon-error: "\26a0";
$icon-padlock: "\270b";